@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body{
    background-color:paleturquoise      ;
}

.container{ 
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    width: 500px;
    height: 700px;  
    text-align: center;
    font-family: 'Nunito',sans-serif;
    background-color:azure;   
}

button:hover{
    background-color:skyblue;
}

ul{
    margin:0;
    padding:0;  
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background:#ddd;
    font-size: 18px;
    top:10px;   
  }


ul li:hover {
  background: #ddd;
}

ul li.checked {
    background: green;
    color: #fff;
    
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close:hover {
    background-color: #f44336;
}

input {
    margin: 0;
    border:none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 16px;    
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }


